{
    "token": "",
    "prefix": "!"
    "unique_respondees": [
        123456789
    ],
    "responses": [
        "Hey there!",
        "Looking good!"
    ]
        "blacklist": [
        987654321
    ],
    "steam_api_key": "", 
    "steam_id": ""
}