You will face many defeats in life, but never let yourself be defeated.
The greatest glory in living lies not in never falling, but in rising every time we fall.
In the end, it's not the years in your life that count.
